/* src/pages/Home.css */
.home {
    padding: 1rem;
  }
  
  .hero-section {
    background-image: url('./pexels-te-lensfix-1371360.jpg'); /* Add your image URL */
    background-size: cover;
    background-position: center bottom; /* Adjust the position to bottom */
    color: #fff;
    text-align: center;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* Adjust to flex-end */
    height: 60vh; /* Adjust the height as needed */
  }
  
  .hero-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .hero-section p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
  
  .hero-section button {
    background-color: #2ecc71;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .hero-section button:hover {
    background-color: #218c5e;
  }
  