/* src/App.css */
body, html {
  height: 100%;
  margin: 0;
}

.app-container {
  display: grid;
  grid-template-rows: 1fr auto; /* Ensure the footer takes remaining space */
  min-height: 100vh; /* Make sure the layout covers the full viewport height */
}
